@import '../../../scss/common.scss';

.HeroRightImageVideo-root {
    padding-top: 100px !important;
    padding-bottom: 100px !important;

    background-position-x: 500px;
    background-position-y: bottom;
    background-repeat: no-repeat;

    @include mobile {
        background-position-x: 140px;
        background-size: cover;
    }

    @media (max-width: $tablet-p-width) {
        text-align: center;
    }

    p {
        width: 60%;
        @media (max-width: $tablet-p-width) {
            margin-bottom: 36px;
            width: 100%;
        }
    }

    .img-video {
        display: flex;
        justify-content: flex-end;

        @media (max-width: $tablet-p-width) {
            justify-content: center;
        }

        .img-vid-container {
            max-width: 100%;
            border-radius: 12px;
            width: 500px;
            height: 295px;
            object-fit: cover;
            aspect-ratio: 16/9;

            @include mobile {
                height: 175px;
            }
        }
    }
}