$main: #013ade;
$white: #ffffff;
$black: #000000;
$gray: #21243c;
$lightgray: #434556;
$orange: #ee744d;
$seagreen: #01c2a9;
$lightseagreen: #f5fffe;
$shadow: #373a7d;
$purple: #916ef7;
$red: #f75f7b;
$shinyblue: #013ade;
$darkblue: #003ce8;
$lightorange: #eb6a44;
$creamy: #f5f7ff;
$weatish: #d7dee8;
$offwhite: #f2f4f7;
$silver: #7b808e;
$yellow: #e4914c;
$voilet: #1e0f49;
$bluish: #0139df;
$darkbrown: #171820;

$blue: rgb(74, 110, 224);;
$grammarly-green: #2cb673;